:root {
    --light: #CED8E1;
    --darkblue: #102B3E;
    --voilet: #6964E2;
}

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 700px;
    margin: 0 auto;
    padding: 50px;
}

.social__top {
    height: 60px;
    background: var(--light);
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.social__top_logo {
    height: 60px;
    width: 160px;
    background: var(--darkblue);
    margin-top: 20px;
    margin-left: 40px;
}

.br-radius {
    border-radius: 10px;
}

.navigation_button {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 20px;
}

.navigation_button a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--darkblue);
}

.header {
    background: var(--darkblue);
    height: 300px;
    color: var(--voilet);
}

.header_text h1 {
    font-size: 50px;
}

.header-inside {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 10px;
}

.bg-violet {
    background: var(--voilet);
}

.height150 {
    height: 150px;
}

.width150 {
    width: 150px;
}

.button {
    height: 30px;
    width: 120px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    border-radius: 20px;
}

.box-type {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    margin-top: 70px;
}

.social__inside-1 {
    background: var(--light);
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__inside_box-1 h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    color: var(--darkblue);
}

.boxes_1-4 {
    display: flex;
    column-gap: 30px;
    margin-bottom: 30px;
    justify-content: center;
}

.boxes_5-8 {
    display: flex;
    column-gap: 30px;
    justify-content: center;
}

.boxes_1-4 p {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    color: var(--darkblue);
}

.boxes_5-8 p {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    color: var(--darkblue);
}

.width320 {
    width: 320px;
}

.social__inside-2 {
    background: var(--light);
    height: 400px;
    margin-top: -130px;
}

.boxes_9-10 {
    display: flex;
    column-gap: 30px;
    margin-bottom: 60px;
    justify-content: center;
}

.boxes_11-12 {
    display: flex;
    column-gap: 30px;
    margin-bottom: 50px;
    justify-content: center;
}

.social__inside-2 h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    color: var(--darkblue);
}

.margin_box_9-12 {
    display: inline-block;
    color: var(--darkblue);
    margin-top: 150px;
    margin-left: 10px;
}

.social__inside-3 {
    background: var(--light);
    height: 400px;
}

.social__inside-3 h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    color: var(--darkblue);
    margin-top: 30px;
}

.width200 {
    width: 200px;
}

.height100 {
    height: 100px;
}

.boxes_13-15 {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    margin-top: 15px;
}

.scroll {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__inside-4 {
    margin-top: -250px;
    background: var(--light);
    height: 100px;
    margin-bottom: 40px;
}

.social__inside_circle {
    display: flex;
    border-radius: 50%;
    margin-left: 40px;
}

.circle_inside_text {
    margin-top: -120px;
    margin-left: 200px;
    text-align: start;
    color: var(--darkblue);
}

.height40 {
    height: 40px;
}

.width40 {
    width: 40px;
}

.height35 {
    height: 35px;
}

.width35 {
    width: 35px;
}

.social_bottom {
    background: var(--darkblue);
}

.box-type_4-6 {
    display: flex;
    column-gap: 10px;
    justify-content: center;
}

.box-type_7-10 {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    margin-top: 30px;
    height: 2px;
}